:root {
    --primary-color: #e50914;
}
.navbar-dark {
    background-color: black;
}
.fb-login-button {
    position: relative;
    padding-left: 18%;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("background.jpg") no-repeat ;
    background-size: 100% 100vh;
    font-family: sans-serif;
}
#signIn {
    margin: 0 70px;
}
#invalid1, #invalid2, #invalid3, #invalid4 {
    color: var(--primary-color);
    margin-top: 0px;
    padding-top: 0px;
}
.login-box {
    width: 880px;
    height: 400px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px;
}
.login-box a {
    color: #e50914;
}
.login-box h1 {
    font-family: 'DejaVu Serif';
    padding: 0 0 20px;
    text-align: center;
    font-size: 40px;
}
.login-box p {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-color);
}
#otp {
    margin-top: 20px;
}
input {
    width: 30px;
    height: 50px;
    background-color: lighten(--primary-color, 5%);
    background: #000;
    border: 1px solid white;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: white;
    margin: 10px 1px;
}

.splitter {
    padding: 0 1px;
    color: white;
    font-size: 24px;
}
.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 44px;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    border-radius: 100px;
    width: 100px;
    padding-top: 0px;
    vertical-align: middle;
    margin-left: 20px;
}
.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    opacity: 1;
}
.showcase-top {
    position: relative;
    height: 10px;
    opacity: 1;

}
.showcase-top img {
    width: 250px;
    position: absolute;
    opacity: 1;
}
.showcase-top a {
    position: absolute;
    top: 20%;
    transform: translate(-50%,-50%);
}
.showcase-top a:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 1080px) {
    .showcase {
        width: 100%;
        height: 100vh;
        position: relative;
        opacity: 1;
    }
    .showcase-top {
        position: relative;
        height: 10px;
        opacity: 1;
    }
    .showcase-top img {
        width: 200px;
        position: absolute;
        opacity: 1;
    }
    .login-box {
        width: 360px;
        height: auto;
        background: rgba(0,0,0,0.5);
        color: #fff;
        top: 54%;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        padding: 30px;
    }
    .login-box a {
        color: #e50914;
    }
    .login-box h1 {
        font-family: 'DejaVu Serif';
        padding: 0 0 20px;
        text-align: center;
        font-size: 32px;
    }
    .login-box p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: bold;
    }
    input {
        width: 30px;
        height: 50px;
        background-color: lighten(--primary-color, 5%);
        border: none;
        line-height: 50px;
        text-align: center;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        color: white;
        margin: 10px 2px;
    }
    
    .splitter {
        padding: 0 5px;
        color: white;
        font-size: 24px;
    }
    .login-box input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        background: var(--primary-color);
        color: #fff;
        font-size: 18px;
        border-radius: 100px;
    }
    .fb-login-button {
        position: relative;
        padding-left: 11%;
    }
}